.second__section{
	width: 100%;
	height: auto;
} 

.card__section {
	width: 100%;
	height: auto;
	background-color: #2FC4B2;
}

.card__section-wrapper {
	width: 1194px;
	height: 1774px;
	position: relative;
	padding-top: 60px;
	margin: auto;
}

.card__branch-img1 {
	position: absolute;
	top: 70px;
	left: -250px;
	z-index: -1;
}

.card__branch-img2 {
	position: absolute;
	left: -360px;
	top: 80px;
	z-index: -1;
}

.card__branch-img3 {
	position: absolute;
	top: -260px;
	right: -280px;
	z-index: 5;
	z-index: -1;
	
}

.card__branch-img4 {
	position: absolute;
	top: 20px;
	right: -365px;
	z-index: -1;
}

.card__wattermellon-img1 {
	position: absolute;
	top: -80px;
	width: 260px;
	left: -310px;
}

.card__wattermellon-img2 {
	position: absolute;
	top: 130px;
	right: -295px;
	width: 120px;
	transform: rotate(-50deg);
}

.card__wattermellon-img3 {
	position: absolute;
	right: -365px;
	top: 220px;
	width: 230px;
	transform: rotate(-140deg);
}

.card__orange-img1 {
	position: absolute;
	width: 345px;
	left: -372px;
	bottom: 100px;
}

.card__orange-img2 {
	position: absolute;
	right: -415px;
	top: -80px;
	z-index: -2;
}

.card {
	width: 100%;
	height: 507px;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 10;
}

.card__1 {
	z-index: 1000;
}

.card__left {
	width: 377px;
	height: 100%;
	background-image: url("../img/cardleft-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.card__info {
	width: 310px;
	height: auto;
	margin-top: 70px;
	margin-bottom: 55px;
}

.card__info-row {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.card__info-bold {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.card__info-regular {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: right;
}

.card__price {
	width: 325px;
	.price {
		align-items: flex-start;

		.new__price {
			color: #2FC4B2;
		}
		.old__price:before {
			background-color: #2FC4B2;
		}
	}
}

.card__center {
	width: calc(100% - 377px - 377px);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}


.card__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	text-align: right;
	color: #FFFFFF;
	margin-top: 30px;
	margin-bottom: 23px;
}

.card__slider {
	width: 421px;
	height: 306px;
	margin-bottom: 30px;
}

.card__img-wrapper {
	width: 421px;
	height: 306px;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__img {
	position: absolute;
	max-height: 306px;
	max-width: 421px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card__slider-btns {
	width: 140px;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.card__slider-btn {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 100%;
	transition: 0.3s ease;
}

.card__slider-btn:hover {
	box-shadow: 0px 0px 10px 2px rgba(5, 46, 45, 0.6);
}

.card__center {
	.sale {
		width: 142px;
		height: 100px;
		transform: none;
		padding: 0;
		background-size: contain;
		bottom: 60px;
		right: 0px;
		span {
			transform: none;
			font-size: 38px;
			line-height: 33px;
			margin-right: 15px;
		}
	}
}

.card__right {
	width: 377px;
	height: 100%;
	background-image: url("../img/cardright-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.card__form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 60px;
}

.card__size-btns {
	width: 280px;
	height: 100px;
	margin-bottom: 14px;
	display: flex;
}

.card__size-block {
	width: 40px;
	height: 100%;
	margin-right: 20px;
	position: relative;
}

.card__size-btn {
	width: 40px;
	height: 40px;
	border: 1px solid #FDC93C;
	border-radius: 100%;
	cursor: pointer;
	outline: none;
	transition: 0.3s ease;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FDC93C;
}

.card__size-btn:hover {
	border: none;
	background-color: #FDC93C;
	color: #E06D86;
}

.card__size {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FDC93C;
	position: absolute;
	width: 80px;
	top: 75px;
	left: 50%;
	text-align: right;
	transform: translateX(-50%) rotate(-90deg);
	transition: 0.3s ease;
	opacity: 0;
	visibility: hidden;
}

.card__size-block.active {
	.card__size-btn {
		border: none;
		background-color: #FDC93C;
		color: #E06D86;
	}
	.card__size {
		opacity: 1;
		visibility: visible;
	}
}

.card__color {
	width: 280px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
}

.color {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-right: 26px;
}

.card__color-btn {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	position: relative;
	outline: none;
	cursor: pointer;
	margin-right: 15px;
	transition: 0.3s ease;
}

.card__color-btn:hover {
	box-shadow: 0px 0px 10px 2px rgba(5, 46, 45, 0.6);
}

.red {
	background-color: #FF0000;
}

.black {
	background-color: #000;
}

.white {
	background-color: #fff;
}

.card__2 {
	.white {
		background-color: #F9CEB4;
	}
}

.card__color-btn:before {
	width: 12px;
	height: 12px;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
	background-image: url("../img/ok.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	visibility: hidden;
}

.card__color-btn.active {
	&:before {
		opacity: 1;
		visibility: visible;
	}
}

.card__input {
	width: 280px;
	height: 50px;
	margin-bottom: 15px;
	background: #FFFFFF;
	border-radius: 25px;
	outline: none;
	padding: 0 25px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 50px;
	color: #1C7270;
}

.card__input::placeholder {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #1C7270;
}

.card__right {
	.header__sale-btn {
		width: 255px;
		height: 60px;
		background-color: #2FC4B2;
		border-radius: 40px;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 60px;
		margin-left: 13px;
		color: #FFFFFF;
		margin-top: 14px;
		margin-left: 20px;
		overflow: visible;
		&:before {
			width: 60px;
			height: 60px;
			top: 0;
			left: -30px;
		}
	}
	.header__sale-btn:hover {
		transform: translateX(-20px);
		background-color: #C63449;
		&:before {
			transform: translateX(255px) rotate(720deg);
		}
	}
	.time {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
	}
	.sales {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		span {
			font-weight: 600;
		}
	}
}

.card__3 {
	margin-bottom: 0px;
}

.galary__section-2 {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	margin-top: 60px;
	.container {
		height: 100%;
	}
	.galary__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.galary__branch3 {
		top: -40px;
		right: -270px
	}
	.galary__branch4 {
		top: -50px;
		left: -270px
	}
}

.sprey__section {
	width: 100%;
	height: 750px;
	.container {
		height: 100%;
	}
}

.sprey__content {
	width: 713px;
	height: auto;
	margin-left: -100px;
	position: relative;
	padding-top: 90px;
}

.sprey__title-wrapper {
	width: 687px;
	height: 119px;
	background-image: url("../img/title-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sprey__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.sprey__subtitle-wrapper {
	width: 602px;
	height: 88px;
	background-image: url("../img/subtitle.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 110px;
	margin-top: -40px;
	margin-bottom: 15px;
}

.sprey__subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	line-height: 24px;
	color: #FFFFFF;
}

.sprey__content-wrapper {
	width: 464px;
	margin-left: 100px;
}

.sprey__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #052E2D;
	margin-bottom: 10px;
}

.sprey__info {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #052E2D;
	margin-bottom: 10px;
	span {
		font-weight: 600;
	}
}

.sprey__price {
	margin-top: 20px;
	.price {
		width: 310px;
	}
	.header__sale-btn {
		margin-left: 10px;
	}
}

.sprey__img {
	position: absolute;
	top: 0;
	right: -780px;
	z-index: -1;
}

.sprey__branch {
	position: absolute;
	width: 300px;
	left: -215px;
	bottom: 55px;
	transform: rotate(80deg);
}


.delivery__section {
	width: 100%;
	height: auto;
}

.delivery__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	margin-bottom: 65px;
}

.delivery__stage {
	width: 350px;
	height: 153px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFB033;
	position: relative;
	padding: 35px;
}

.delivery__img {
	position: absolute;
	width: 100px;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
}

.delivery__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.review__section {
	width: 100%;
	height: 441px;
	position: relative;
	.container {
		height: 100%;
	}
}

.review__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.review__title-wrapper {
	width: 708px;
	height: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/review.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: -20px;
}

.review__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	color: #FFFFFF;
}

.review__slider {
	width: calc(100% + 48px);
	height: 303px;
	margin-right: -24px;
}

.review {
	width: 348px;
	height: 220px;
	padding: 15px;
	background-color: #1C7270;
	margin: 0 24px;
	margin-top: 83px;
	position: relative;
	float: left;
}

.review:before {
	content: "";
	width: 190px;
	height: 120px;
	background-image: url("../img/review-wattermellon.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left -3px top;
	position: absolute;
	top: -90px;
	left: 50%;
	transform: translateX(-50%);
}

.review__foto {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	position: absolute;
	top: -45px;
	left: 50%;
	transform: translateX(-50%);
}

.review__autor-name {
	width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 40px;
	margin-bottom: 10px;
}

.review__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
}

.slick-dots {
	bottom: -40px;
	li {
		width: 15px;
		height: 15px;
		button {
			width: 15px;
			height: 15px;
			border-radius: 100%;
			background: #FFFFFF;
			&:before {
				display: none;
			}
		}
	}
	li.slick-active {
		button {
			background-color: #1C7270;
		}
	}
}

.add__review {
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration: underline;
	color: #000000;
	cursor: pointer;
	transition: 0.3s ease;
}

.add__review:hover {
	color: #444;
}
